.App-main {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
}

.App-content {
  width: 30%;
  height: 80vh;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: normal;
}

.App-text-box {
  width: 60%;
  text-align: center;
}

.App-question-box {
  font-size: calc(4px + 2vmin);
  border: 1px solid black;
  padding: 80px 40px;
}

.App-main-title {
  margin-top: 5px;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

.App-btn {
  border: 0px;
  background-color: #ccc;
  font-size: calc(12px + 2vmin);
  margin-bottom: 30px;
  cursor: pointer;
}

.App-question-control {
  font-size: calc(12px + 1vmin);
}

.App-report-item{
  text-align: left;
  font-size: calc(6px + 1vmin);
  list-style-type: none;
}

.App-report-list{
  padding-left: 0px;
}

.App-correct-sign{
  font-size: calc(20px + 1vmin);
  margin-right: 10px;
  margin-left: 10px;
}